div{
	border:2px solid #BBCCAA;
}

#container {
	width:950px;
	margin:0px auto;
}

#header{
	height:25px;
	background-color:#cecece;
	font-size:14pt;
	text-align:center;
	font-family:Verdana;
	font-weight:bold;
}

#left{
	float:left;
	width:160px;
	background-color:#000;
	color:#00FFFF;
	font-family:Arial;
	font-weight:bold;
	font-size:14pt;
}

#content{
	float:right;
	width:782px;
	height:242px;
	color:#8B8989;
	font-family:Verdana;
	font-weight:bold;
	font-size:10pt;
	text-align:center;
	background-color:#8A2BE2;
}

#footer{
	clear:both;
	background:#90EE90;
	text-align:center;
	
}
